show_data.json
[{"id":"3352a4af.654c9c","type":"tab","label":"show dat","disabled":false,"info":""},{"id":"e92f59e5.f7caa8","type":"inject","z":"3352a4af.654c9c","name":"show results","topic":"SELECT * FROM SITES ORDER BY TIMESTAMP DESC LIMIT 100","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[[]]},{"id":"c36a6661.59da58","type":"ui_template","z":"3352a4af.654c9c","group":"d76f6a04.e8dd68","name":"","order":0,"width":0,"height":0,"format":"\n<style>\ntable\n{\n    background:lightblue;\n}\n.main\n{\n    height:500px;\n}\n</style>\n \n<div class=\"main\">\n    \n<table style=\"width:100%\">\n  <tr>\n    <th>date</th> \n    <th>personName</th>\n\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:100\">\n    <td>{{msg.payload[$index].EnteredTime}}</td>\n    <td>{{msg.payload[$index].FirstName}}</td> \n  </tr>\n  \n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":260,"wires":[[]]},{"id":"bbb64230.781bd","type":"debug","z":"3352a4af.654c9c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":180,"wires":[]},{"id":"a59928fe.2f9e68","type":"function","z":"3352a4af.654c9c","name":"filterResult","func":"var data = context.get(\"data\") || 0;\nvar edate = context.get(\"edate\") || 0;\nvar sdate = context.get(\"sdate\") || 0;\n\nif(msg.topic === \"name\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\n\nif(msg.topic === \"edate\"){\n   edate = new Date(msg.payload);\n   context.set(\"edate\",edate);\n   var date=edate.getDate();\n   var month=edate.getMonth()+1;\n   var year=edate.getFullYear();\n   edate = year + \"-\" + month + \"-\" + date;\n   context.set(\"edate\",edate);\n    //if no output is needed while writting, stop the flow right here\n    return;\n}\nif(msg.topic === \"sdate\"){\n   sdate = new Date(msg.payload);\n   context.set(\"sdate\",sdate);\n   var dates=sdate.getDate();\n   var months=sdate.getMonth()+1;\n   var years=sdate.getFullYear();\n   sdate = years + \"-\" + months + \"-\" + dates;\n   context.set(\"sdate\",sdate);\n    //if no output is needed while writting, stop the flow right here\n}\n\n\nif(msg.topic === \"submit\"){\n    msg.payload = data;\n    if(data === 0){\n       msg.topic =\"select FirstName, EnteredTime from person, who_entered\";\n    }\n    else{\n \n     msg.topic =\"select FirstName, EnteredTime from person, who_entered where FirstName = \\\"\" +  data +\"\\\" \";        //\\\"nati\\\"\";\n     msg.topic += \"and EnteredTime between \";\n     msg.topic += \"'\" + sdate + \" 00:00:01' AND \";\n     msg.topic += \"'\" + edate + \" 23:59:59'\";  \n     \n    }\n    \n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["b9e7b2a2.e325f"]]},{"id":"6c2d8ee4.99a89","type":"function","z":"3352a4af.654c9c","name":"Convert time","func":"//var payload=msg.payload;\nfor (var i=0;i<msg.payload.length;i++)\n{\n dateObj = new Date(msg.payload[i].EnteredTime); \n var date=dateObj.getDate();\n var month=dateObj.getMonth()+1;\n var year=dateObj.getFullYear();\n var hours=dateObj.getHours();\n var minutes=dateObj.getMinutes(); \n var seconds=dateObj.getSeconds(); \n var newtime=date+\"/\"+month+\"/\"+year;\n newtime=newtime+\"-\"+hours+\":\"+minutes+\":\"+seconds;\n msg.payload[i].EnteredTime=newtime\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["c36a6661.59da58"]]},{"id":"4bde5c2f.9fb464","type":"ui_text_input","z":"3352a4af.654c9c","name":"name","label":"name","tooltip":"","group":"ca4c985d.17fd18","order":2,"width":"4","height":"1","passthru":true,"mode":"text","delay":"100","topic":"name","x":130,"y":180,"wires":[["a59928fe.2f9e68"]]},{"id":"e73bb938.e09ef8","type":"ui_button","z":"3352a4af.654c9c","name":"submit","group":"ca4c985d.17fd18","order":0,"width":"4","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"submit","payloadType":"str","topic":"submit","x":130,"y":360,"wires":[["a59928fe.2f9e68"]]},{"id":"b9e7b2a2.e325f","type":"mysql","z":"3352a4af.654c9c","mydb":"146edf88.8d055","name":"openmv_mysql","x":540,"y":260,"wires":[["6c2d8ee4.99a89","bbb64230.781bd"]]},{"id":"2b6f370f.e99968","type":"ui_date_picker","z":"3352a4af.654c9c","name":"from:","label":"from:","group":"ca4c985d.17fd18","order":4,"width":0,"height":0,"passthru":true,"topic":"sdate","x":130,"y":240,"wires":[["a59928fe.2f9e68"]]},{"id":"dce4a221.83afc","type":"ui_date_picker","z":"3352a4af.654c9c","name":"until","label":"until","group":"ca4c985d.17fd18","order":4,"width":0,"height":0,"passthru":true,"topic":"edate","x":130,"y":300,"wires":[["a59928fe.2f9e68"]]},{"id":"dc17da5d.f22218","type":"ui_template","z":"3352a4af.654c9c","group":"f253c233.ced04","name":"","order":0,"width":"1","height":"1","format":"<style>\nbody {\n object-fit: cover;\n            width: 100%;\n            height: 100vh;\n            position: absolute;\n            top: 0;\n            left: 0;\n            overflow: hidden;\n}\n</style>\n\n<body>\n     <video autoplay muted loop id=\"myVideo\" src=\"https://cdn.kapwing.com/final_5f3ff4ed21e1310015bd6d48_233585.mp4\"\n     type=\"video/mp4\">\n </video>\n    \n    \n    \n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":200,"wires":[[]]},{"id":"ea33cbc7.5ce8b8","type":"template","z":"3352a4af.654c9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":340,"y":180,"wires":[[]]},{"id":"d76f6a04.e8dd68","type":"ui_group","z":"","name":"Results","tab":"d70a5394.7c548","order":2,"disp":true,"width":"14","collapse":false},{"id":"ca4c985d.17fd18","type":"ui_group","z":"","name":"Default","tab":"d70a5394.7c548","order":1,"disp":true,"width":"12","collapse":false},{"id":"146edf88.8d055","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"openmv","tz":"","charset":"UTF8"},{"id":"f253c233.ced04","type":"ui_group","z":"","name":"groov RIO","tab":"f2fbb614.ac63f8","order":1,"disp":true,"width":"26","collapse":false},{"id":"d70a5394.7c548","type":"ui_tab","z":"","name":"SITE-RESULTS","icon":"dashboard"},{"id":"f2fbb614.ac63f8","type":"ui_tab","z":"3352a4af.654c9c","name":"New Test","icon":"dashboard"}]